/* Code By Webdevtrick ( https://webdevtrick.com ) */
table {
    width: 100%;
    border-collapse: collapse;
}

tr:nth-of-type(odd) {
    background: #f4f4f4;
}

tr:nth-of-type(even) {
    background: #fff;
}

th {
    background: #5cb85c;
    color: #ffffff;
    font-weight: 300;
}

td,
th {
    padding: 10px;
    border: 1px solid #ccc;
    text-align: left;
}

td:nth-of-type(1) {
    font-weight: 500 !important;
}

td {
    font-family: 'Roboto', sans-serif !important;
    font-weight: 300;
    line-height: 20px;
}

span {
    font-style: italic
}

@media only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px) {

    table.responsive,
    .responsive thead,
    .responsive tbody,
    .responsive th,
    .responsive td,
    .responsive tr {
        
    }

    .responsive thead tr {
        position: absolute !important;
        top: -9999px;
        left: -9999px;
    }

    .responsive tr {
        border: 1px solid #ccc;
    }

    .responsive td {
        border: none;
        border-bottom: 1px solid #eee !important;
        position: relative !important;
    }

    .responsive td:before {
        position: absolute !important;
        top: 6px;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap !important;
        font-weight: 500 !important;
    }


    .responsive td:before {
        content: attr(data-table-header) !important;
    }
}
